# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Prototype 3.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alan\Documents\personalProjects\Unity\Prototype 3\.idea\.idea.Prototype 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
