# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Counting Prototype.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alan\Documents\personalProjects\Unity\Counting Prototype\.idea\.idea.Counting Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
