# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Debug the App.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alan\Documents\personalProjects\Unity\Debug the App\.idea\.idea.Debug the App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
